#title, .subtitle, .post_title {
    color: green;
    font-size: 33px;
    font-weight: bold;
}

.post_title {
    font-size: 22px;
    font-style: italic;
}
.texto{
    font-size: 20px;
    text-align: justify;
    text-justify:auto;
}